/* 
Imports Harry P font from fontsquirrel webkit
License said freeware, so I'm fairly sure it's 
okay to use on this site 
*/
@font-face {
  font-family: 'harry_pregular';
  src: url('./fonts/harryp__-webfont.woff2') format('woff2'),
       url('./fonts/harryp__-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'harry_pregular';
  background-color: #0B1736;
  color: #CEB42E;
}

.header {
  padding: 1.5em 5em;
  background-color: #162D6A;
}

/* NAVBAR STYLES */
.nav-master {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.nav-logo {
  font-size: 3rem;
  transition: filter 0.3s ease;
}
.nav-logo:hover {
  filter: brightness(120%);
  cursor: pointer;
}

/* Link items */
.nav-links {
  font-size: 2rem;
  display: flex;
  gap: 50px;
  transition: filter 0.3s ease;
}
.nav-links:hover {
  filter: brightness(120%);
  cursor: pointer;
}

/* Space between text and icon of nav items */
.nav-item {
  display: flex;
  gap: 10px;
}

/* HOUSE PANEL STYLES */

.house-panel-master {  
  padding: 7em 0;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.house-panel-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-content: center;
  gap: 0.5em;
}

.house-panel {
  padding: 3em 10em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(85%);
  transition: filter 0.3s ease;
}
/* House panel hover effect */
.house-panel:hover {
  filter: brightness(110%);
  cursor: pointer;
}

/* House background colors */
#gryffindor-panel {
  background-color: #6A1616;
}
#hufflepuff-panel {
  background-color: #D8DA78;
}
#ravenclaw-panel {
  background-color: #272E82;
}
#slytherin-panel {
  background-color: #2A623D;
}