/* 
Imports Harry P font from fontsquirrel webkit
License said freeware, so I'm fairly sure it's 
okay to use on this site 
*/

:root {
  --body-background-color: #0B1736;
  /* Font colors */
  --main-font-color: #CEB42E;
  --slytherin-font-color: #DCDCDC;
  /* Header/background colors */
  --home-header-color: #162D6A;
  --gryffindor-color: #6A1616;
  --slytherin-color: #2A623D;
}
@font-face {
  font-family: 'harry_pregular';
  src: url('./fonts/harryp__-webfont.woff2') format('woff2'),
       url('./fonts/harryp__-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Nunito Sans font import */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: clip;
  font-family: 'harry_pregular';  
  background-color: var(--body-background-color);
  color: var(--main-font-color)
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Set height of React root container div 
to 100% of viewport */ 
#root {
  height: 100%;
}
.container {
  height: calc(100% - 118.667px);
}

.header-home,
.header-characters,
.header-house,
.header-spells {
  padding: 1.5em 5em;
}

.header-home {
  background-color: var(--home-header-color);
  color: var(--main-font-color);
}
.header-characters {
  background-color: var(--gryffindor-color);
  color: var(--main-font-color);
}
.header-house {
  background-color: var(--slytherin-color);
  color: var(--slytherin-font-color);
}

/* NAVBAR STYLES */
.nav-master {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Space between text and icon of nav items */
.nav-route {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

/* Logo */
.nav-logo {
  font-size: 3rem;
  transition: filter 0.5s ease;
}
.nav-logo:hover {
  filter: brightness(120%);
  cursor: pointer;
}

.nav-logo img {
  display: inline-block;
  width: 60px;
  height: fit-content;
}

/* Link items */
.nav-links {
  font-size: 2rem;
  display: flex;
  gap: 4rem;
  transition: filter 0.3s ease;
}
.nav-links:hover {
  filter: brightness(120%);
  cursor: pointer;
}

/* CHARACTERS SEARCH STYLES */
.characters-master {
  background-image: url(./images/hogwarts-exterior-gryffindor.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  width: 100%;
  height: 100%;
  padding: 5rem 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--main-font-color);
}

.characters-heading {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
  gap: 1.5rem;
}
.characters-title {
  font-size: 2.5rem;
}
.characters-promise {
  font-size: 1.5rem;
}
.characters-search-input {
  width: 90%;
  border: 0;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  background-color: var(--gryffindor-color);
  color: var(--main-font-color);
  font-weight: 500;
  font-family: inherit;
  font-size: 1.5rem;
}
.characters-search-input:focus {
  outline: 2px solid var(--main-font-color); 
  background-color: #420d0d;
}
/* Changes placeholder text to gold */
.characters-search-input::placeholder {
  color: var(--main-font-color);
}

.characters-body {
  color: var(--main-font-color);
  width: 70%;
  height: 100vh;
  margin-top: 1rem;
  padding: 1rem 0;
  overflow-y: scroll;
  scrollbar-width: none;  /* Firefox */
  border: 2px solid var(--main-font-color);
  border-radius: 1rem;
}
/* Hides scrollbar in Chrome and Safari */
::-webkit-scrollbar {
  display: none;
}

.characters-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.characters-bio img {
  max-width: 100px;
  display: block;
  margin: 0 auto;
  padding: 0;
  border-radius: 5rem;
  text-align: center;
}
.characters-table {
  width: 100%;
  text-align: left;
}
.characters-table td {
  text-align: left;
  width: 25%;
  vertical-align: top;
}

/* Bio heading styles */
.characters-name-heading {
  font-weight: bold;
  font-size: 1.3rem;
  filter: brightness(70%);
}
.characters-house-heading {
  font-weight: bold;
  font-size: 1.3rem;
  filter: brightness(70%);
}
.characters-patronus-heading {
  font-weight: bold;
  font-size: 1.3rem;
  filter: brightness(70%);
}

/* HOME PAGE STYLES */

.home-master {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/hogwarts-exterior.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.home-container {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page-container-link {
  display: flex;
}

.page-container {
  width: 30%;
  position: relative;

}
.page-container img {
  width: 100%;
}
.page-container-text {
  padding: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(22, 45, 106, 0.85);
  transition: all 1s ease;
}
.page-container-text-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Remove blue background color on :hover */
.page-container-text:hover {
  background-color: rgba(22, 45, 106, 0);
  cursor: pointer;
}
/* Increase font-size on :hover */
.page-container-text p {
  transition: all 1s ease;
  /* Found these properties as a suggestion
  to smooth out the aliasing present on the 
  Harry P font when zooming in */
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
.page-container-text:hover p {
  transform: scale(110%);
  filter: brightness(120%);
}
/* Set separate font sizes for title and paragraph */
.page-container-title {
  font-size: 5rem;
}
.page-container-paragraph {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem;
  padding: 0 1rem; 
  line-height: 2.5rem; 
}

/* HOUSE PANEL STYLES */

.house-panel-master {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-image: url(./images/hogwarts-exterior-slytherin.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.house-panel-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-content: center;
  gap: 0.5em;
}

.house-panel {
  padding: 3em 10em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(85%);
  transition: filter 0.3s ease;
}
/* House panel hover effect */
.house-panel:hover {
  filter: brightness(110%);
  cursor: pointer;
}

/* House background colors */
#gryffindor-panel {
  background-color: var(--gryffindor-color);
}
#hufflepuff-panel {
  background-color: #D8DA78;
}
#ravenclaw-panel {
  background-color: #272E82;
}
#slytherin-panel {
  background-color: var(--slytherin-color);
}

/* HOUSE INFO MENU STYLES */
.house-info-master {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;  
}

.house-info-container-none,
.house-info-container-flex {
  width: 60%;  
  position: absolute;
  top: 16%;
  z-index: 1000;
  padding: 2em 5em;
}
.house-info-container-none {
  /* Changes to flex onClick */
  display: none;
}
.house-info-container-flex {
  display: flex;
}

.house-info-table {
  font-size: 5rem;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

/* Cell-specific font-sizing and padding */
.house-info-table th {
  font-weight: normal;
  font-size: 6rem;
}
.house-info-table td {
  vertical-align: top;
  padding: 0.125em 0.5em 0.125em 0;
  font-size: 4rem;
}
.house-info-table ul {
  list-style: none;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
.house-info-table img {
  width: max(100px, 40%);
  display: block;
  margin: 0 auto;
}

.house-info-table tbody :nth-child(1) :nth-child(2) {
  vertical-align: middle;
}
.house-info-table tbody :nth-child(4) :nth-child(1) {
  font-size: 3.5rem;
}
/* Sets right-column table cells to sans serif
and smaller font */
.house-info-table td:nth-child(2n) {
  font-size: 2rem;
  font-family: 'Nunito Sans', sans-serif;
}
/* Sets left-align text on title cells */
/* .house-info-table th,
.house-info-table td {
  text-align: left;
} */

/* House-specific table styling */
#house-info-gryffindor {
  border: 3px solid #AAAAAA;
  background-color: rgba(106, 22, 22, 0.85);
  color: #d0cb4c;
}
#house-info-hufflepuff {
  border: 3px solid #AAAAAA;
  background-color: rgba(175, 177, 100, 0.85);
  color: #3d4d59;
}
#house-info-ravenclaw {
  border: 3px solid #AAAAAA;
  background-color: rgba(39, 46, 130, 0.85);
  color: #a58b7e;
}
#house-info-slytherin {
  border: 3px solid #AAAAAA;
  background-color: rgba(42, 98, 61, 0.85);
  color: #DCDCDC;
}