/* 
Imports Harry P font from fontsquirrel webkit
License said freeware, so I'm fairly sure it's 
okay to use on this site 
*/
@font-face {
  font-family: 'harry_pregular';
  src: url('./fonts/harryp__-webfont.woff2') format('woff2'),
       url('./fonts/harryp__-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'harry_pregular';  
  background-color: #0B1736;
  color: #CEB42E;
}

.header {
  padding: 1.5em 5em;
  background-color: #162D6A;
}

/* NAVBAR STYLES */
.nav-master {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.nav-logo {
  font-size: 4rem;
  transition: filter 0.3s ease;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.nav-logo:hover {
  filter: brightness(120%);
  cursor: pointer;
}

.nav-logo img {
  display: block;
  width: 60px;
}

/* Link items */
.nav-links {
  font-size: 3rem;
  display: flex;
  gap: 4rem;
  transition: filter 0.3s ease;
}
.nav-links:hover {
  filter: brightness(120%);
  cursor: pointer;
}

/* Space between text and icon of nav items */
.nav-item {
  display: flex;
  gap: 1.2rem;
}

/* HOUSE PANEL STYLES */

.house-panel-master {  
  padding: 6rem 0 5rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url(./images/hogwarts-exterior.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.house-panel-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-content: center;
  gap: 0.5em;
}

.house-panel {
  padding: 3em 10em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(85%);
  transition: filter 0.3s ease;
}
/* House panel hover effect */
.house-panel:hover {
  filter: brightness(110%);
  cursor: pointer;
}

/* House background colors */
#gryffindor-panel {
  background-color: #6A1616;
}
#hufflepuff-panel {
  background-color: #D8DA78;
}
#ravenclaw-panel {
  background-color: #272E82;
}
#slytherin-panel {
  background-color: #2A623D;
}

/* HOUSE INFO MENU STYLES */
.house-info-master {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.house-info-container-none,
.house-info-container-flex {
  width: 70%;
  position: absolute;
  top: 15%;
  z-index: 1000;
  padding: 2em 5em;
}
.house-info-container-none {
  /* Changes to flex onClick */
  display: none;
}
.house-info-container-flex {
  display: flex;
}

.house-info-table {
  font-size: 5rem;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

/* Cell-specific font-sizing and padding */
.house-info-table th {
  font-weight: normal;
  font-size: 7rem;
}
.house-info-table td {
  vertical-align: top;
  padding: 0.125em 0.5em 0.125em 0;
}
.house-info-table ul {
  list-style: none;
  font-size: 1.5rem;
}
/* Sets right-column table cells to sans serif
and smaller font */
.house-info-table td:nth-child(2n) {
  font-size: 3rem;
  font-family: sans-serif;
}
/* Sets left-align text on title cells */
/* .house-info-table th,
.house-info-table td {
  text-align: left;
} */

/* House-specific table styling */
#house-info-gryffindor {
  border: 3px solid #AAAAAA;
  background-color: rgba(106, 22, 22, 0.85);
  color: #d0cb4c;
}
#house-info-hufflepuff {
  border: 3px solid #AAAAAA;
  background-color: rgba(175, 177, 100, 0.85);
  color: #3d4d59;
}
#house-info-ravenclaw {
  border: 3px solid #AAAAAA;
  background-color: rgba(39, 46, 130, 0.85);
  color: #a58b7e;
}
#house-info-slytherin {
  border: 3px solid #AAAAAA;
  background-color: rgba(42, 98, 61, 0.85);
  color: #DCDCDC;
}